#categoriesContainer {
  display: none;
  .categoriesPanelHeader {
    .addNewCategory {
      margin: 10px;
    }
    .categoriesPanelTitle {
      display: inline-block;
    }
  }
  .categoriesContainerView {
    ul {
      li {
        a {
          i.fa-caret-right,
          i.fa-caret-down {
            margin-right: 10px;
          }
          &:hover {
            cursor: pointer;
            background: rgba(0,0,0,.1);
          }
          &.categoryName {
            text-decoration: none;
            color: rgb(101,101,101);
            border-bottom: solid 1px rgba(0,0,0,.1);
            display: block;
            line-height: 40px;
          }
        }
        .serviceBtns {
          margin: -30px 20px 0 0;
        }
        ul.child {
          display: none;
        }
        .serviceBtns {
          ul {
            li {
              a {
                i {
                  margin-right: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#categoryModal {
  .progressBrandUploadPhoto {
    height: 5px;
    .progress-bar {
      width: 1%;
      transition: width 1s ease-in-out;
    }
  }
}


.level1 .categoryName {
  padding-left: 10px;
}
.level2 .categoryName {
  padding-left: 40px;
}
.level3 .categoryName {
  padding-left: 60px;
}
.level4 .categoryName {
  padding-left: 80px;
}
.level5 .categoryName {
  padding-left: 100px;
}
.level6 .categoryName {
  padding-left: 120px;
}
.level7 .categoryName {
  padding-left: 140px;
}
.level8 .categoryName {
  padding-left: 160px;
}
.level9 .categoryName {
  padding-left: 180px;
}
.level10 .categoryName {
  padding-left: 200px;
}