.currenciesContainer {
  display: none;
  .currenciesHistoryBlock {
    .historyView {
      margin-left: 10px;
      &.active {
        color: inherit;
        cursor: default;
      }
    }
  }
  #currenciesHistoryChartsContainer {
//    display: none;
  }
  table {
    tr {
      th {
        position: relative;
      }
      td {
        position: relative;
        .editableInput {
          font-size: 80%;
        }
      }
    }
  }
}