$color-background: rgb(244, 244, 244);
$color-menu-font-disactive: rgba(0, 0, 0,.5);
$color-menu-font-hover: rgba(0, 0, 0,.9);

.glyphicon {
	text-decoration: none;
	color: rgb(101, 101, 101)
}

a:hover {
	cursor: pointer;
}

.active-button {
	background: $color-background;
	cursor: pointer;
	color: $color-menu-font-hover;
}

body {
	background: $color-background;
	.leftNav {
		text-decoration: none;
		display: block;
		line-height: 20px;
		padding: 10px;
		width: 100%;
		color: $color-menu-font-disactive;
		&:hover {
          @extend .active-button;
		}
	}
	.main {
		margin: 0px 5px;
		.contentContainer {
			.indexContainer {
				display: none;
				margin: 0px 10px 10px 10px;	
				#containerHighcharts {
					width: 534px;
					height: 400px;
				}	
			}
			#categoriesContainer {
				position: relative;
				display: none;
				.categoriesTitle {
					padding: 0px 15px;
					h3 {
						display: inline-block;
					}
					button {
						display: inline-block;
						margin: 15px 0px;
					}
				}
			}
			.productsContainer {
				display: none;
			}
		}
	}
}

.subcategoriesLink {
  display: block;
  line-height: 25px;
}

.uploadPhoto {
  height: 5px;
  .progress-bar {
    width: 1%;
    transition: width 1s ease-in-out;
  }
}