.pricesContainer {
  display: none;
  .pricesTable {
    .priceModelsContainer {
      tr {
        td {
          vertical-align: middle;
          .serviceBtns {
            li {
              a {
                i {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}