.productsContainer {
  .productsTable {
    .headerTable {

    }
    .headerFilter {
      th {
        input, select {
          height: 30px;
        }
      }
    }
    .productsContainerView {

    }
  }

}
.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}