.productsContainer {
  display: none;
  .productsTable {
    .headerTable {

    }
    .headerFilter {
      th {
        input, select {
          height: 30px;
        }
      }
    }
    .productsContainerView {
      tr {
        td {
          vertical-align: middle;
          a.sortableSelector {
            width: 12px;
            height: 50px;
            margin: -5px;
            background-image: url("../../images/dotte.png");
            &:hover {
              cursor: all-scroll;
            }
          }
        }
        td.productImage {
          img {
            max-height: 50px;
          }
        }
      }
    }
  }

}
.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}