div.row.brandsContainer
    ol.breadcrumb
        li
            a(href="#") Home
        li.active Brands
    div.alertContainer
    div.brandsTableContainer
div#brandsModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
