div.row#categoriesContainer
    ol.breadcrumb
        li
            a(href="#") Home
        li.active Categories
    div.categoriesTable
div#categoryModal.modal.fade.bs-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")


