div.row.currenciesContainer
    div.col-lg-5
        div.currenciesList
        div.alert.alert-info(role="alert")
            button.close(type="button" data-dismiss="alert")
                span(aria-hidden="true") &times;
                span.sr-only Close
            strong Currencies info!
            p You can not delete default currency.
    div.col-lg-7.currenciesHistory
div#currencyModal.modal.fade.bs-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
                
                    
include templates/currenciesTemplate
