div.exampleWidgets
    div.switch
        input#switchInput.switchInput.switchInputRound(type="checkbox")
        label(for="switchInput")
    div.checkboxFour
        input(type="checkbox" value="1" id="checkboxFourInput" name="" checked)
        label(for="checkboxFourInput")