div.row.indexContainer
    div.row
        div.col-lg-4.well.ordersStatistic
            table.table
                caption 
                    strong Statistics orders for now
                    a
                        span.glyphicon.glyphicon-calendar.pull-right
                thead
                    tr
                        th
                        th
                tbody
                    tr
                        td New orders
                        td 
                            span.badge.alert-danger 11
                    tr
                        td Orders pending
                        td 
                            span.badge.alert-info 7
                    tr
                        td Orders in stock
                        td 
                            span.badge.alert-success 5
                    tr
                        td Processed orders
                        td 
                            span.badge 45
            a.pull-right
                h6 more
        div.col-lg-7.col-lg-offset-1.well.newOrdersList
            table.table.table-condensed.table-hover
                caption 
                    strong New orders list
                thead
                    tr.text-muted
                        th Product
                        th Qnt
                        th e-mail
                        th date
                        th open
                tbody
                    tr
                        td
                            a product name
                        td 1
                        td example@mail.com
                        td 01.01.2014
                        td 
                            a
                                span.glyphicon.glyphicon-eye-open
                    tr
                        td
                            a product name
                        td 2
                        td example@mail.com
                        td 01.04.2014
                        td 
                            a
                                span.glyphicon.glyphicon-eye-open
                    tr
                        td
                            a product name
                        td 1
                        td example@mail.com
                        td 01.01.2014
                        td 
                            a
                                span.glyphicon.glyphicon-eye-open
                    tr
                        td
                            a product name
                        td 2
                        td example@mail.com
                        td 01.04.2014
                        td 
                            a
                                span.glyphicon.glyphicon-eye-open

            a.pull-right
                h6 more
    div.row
        div.col-lg-4.well.productsStatistic
            table.table.table-condensed.table-hover
                caption 
                    strong Statistics products
                    a
                        span.glyphicon.glyphicon-calendar.pull-right
                thead
                    tr.text-muted
                        th Product
                        th Qnt
                tbody
                    tr
                        td
                            a product name
                        td 12
                    tr
                        td
                            a product name
                        td 12
                    tr
                        td
                            a product name
                        td 12
                    tr
                        td
                            a product name
                        td 12
                    tr
                        td
                            a product name
                        td 12
                    tr
                        td
                            a product name
                        td 12
            a.pull-right
                h6 more
        div.col-lg-7.col-lg-offset-1.well
            div#containerHighcharts
