div.row.newProductsContainer
    ol.breadcrumb
        li
            a(href="#") Home
        li
            a(href="#products") Products
        li.active New
    div.productForm
        div.parentsInfo.col-lg-3
            div.list-group
                a().list-group-item.active Information
                a().list-group-item Prices
                a().list-group-item Photos
                a().list-group-item Discounts
                a().list-group-item Stock
                a().list-group-item Suppliers
                a().list-group-item CEO
        div.col-lg-9
            div.infoSubTab.subTab
                div.panel.panel-default
                    div.panel-heading
                        h4 Information
                    div.panel-body
                        form(role="form")
                            div.col-lg-12
                                div.parentsInfo.col-lg-9
                                    div.form-group
                                        label(for="exampleInputEmail1") Select category:
                                        select(class="form-control" id="exampleInputEmail1")
                                    div.form-group
                                        label(for="exampleInputPassword1") Select brand:
                                        select(class="form-control" id="exampleInputPassword1")
                                legend
                            div.col-lg-12
                                div.generalInfo.col-lg-6
                                    div.form-group
                                        label(for="exampleInputEmail1") Email address
                                        input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email")
                                    div.form-group
                                        label(for="exampleInputPassword1") Password
                                        input(type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
                                    div.form-group
                                        label(for="exampleInputFile") File input
                                        input(type="file" id="exampleInputFile")
                                        p.help-block Example block-level help text here.
                                    div.checkbox
                                        label
                                            input(type="checkbox")
                                            | Check me out
                                legend
                            div.form-group
                                button.btn.btn-default.pull-right(type="submit") Submit
            div.pricesSubTab.subTab
                div.panel.panel-default
                    div.panel-heading
                        h4 Prices
                    div.panel-body
                        form(role="form")
                            div.col-lg-12
                                div.parentsInfo.col-lg-9
                                    div.form-group
                                        label(for="exampleInputEmail1") Select category:
                                        select(class="form-control" id="exampleInputEmail1")
                                    div.form-group
                                        label(for="exampleInputPassword1") Select brand:
                                        select(class="form-control" id="exampleInputPassword1")
                                legend
                            div.col-lg-12
                                div.generalInfo.col-lg-6
                                    div.form-group
                                        label(for="exampleInputEmail1") Email address
                                        input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email")
                                    div.form-group
                                        label(for="exampleInputPassword1") Password
                                        input(type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
                                    div.form-group
                                        label(for="exampleInputFile") File input
                                        input(type="file" id="exampleInputFile")
                                        p.help-block Example block-level help text here.
                                    div.checkbox
                                        label
                                            input(type="checkbox")
                                            | Check me out
                                legend
                            div.form-group
                                button.btn.btn-default.pull-right(type="submit") Submit

            div.photosSubTab.subTab
                div.panel.panel-default
                    div.panel-heading
                        h4 Photos
                    div.panel-body
                        form(role="form")
                            div.col-lg-12
                                div.parentsInfo.col-lg-9
                                    div.form-group
                                        label(for="exampleInputEmail1") Select category:
                                        select(class="form-control" id="exampleInputEmail1")
                                    div.form-group
                                        label(for="exampleInputPassword1") Select brand:
                                        select(class="form-control" id="exampleInputPassword1")
                                legend
                            div.col-lg-12
                                div.generalInfo.col-lg-6
                                    div.form-group
                                        label(for="exampleInputEmail1") Email address
                                        input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email")
                                    div.form-group
                                        label(for="exampleInputPassword1") Password
                                        input(type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
                                    div.form-group
                                        label(for="exampleInputFile") File input
                                        input(type="file" id="exampleInputFile")
                                        p.help-block Example block-level help text here.
                                    div.checkbox
                                        label
                                            input(type="checkbox")
                                            | Check me out
                                legend
                            div.form-group
                                button.btn.btn-default.pull-right(type="submit") Submit
            div.discountsSubTab.subTab
                div.panel.panel-default
                    div.panel-heading
                        h4 Discounts
                    div.panel-body
                        form(role="form")
                            div.col-lg-12
                                div.parentsInfo.col-lg-9
                                    div.form-group
                                        label(for="exampleInputEmail1") Select category:
                                        select(class="form-control" id="exampleInputEmail1")
                                    div.form-group
                                        label(for="exampleInputPassword1") Select brand:
                                        select(class="form-control" id="exampleInputPassword1")
                                legend
                            div.col-lg-12
                                div.generalInfo.col-lg-6
                                    div.form-group
                                        label(for="exampleInputEmail1") Email address
                                        input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email")
                                    div.form-group
                                        label(for="exampleInputPassword1") Password
                                        input(type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
                                    div.form-group
                                        label(for="exampleInputFile") File input
                                        input(type="file" id="exampleInputFile")
                                        p.help-block Example block-level help text here.
                                    div.checkbox
                                        label
                                            input(type="checkbox")
                                            | Check me out
                                legend
                            div.form-group
                                button.btn.btn-default.pull-right(type="submit") Submit
            div.stockSubTab.subTab
                div.panel.panel-default
                    div.panel-heading
                        h4 Stock
                    div.panel-body
                        form(role="form")
                            div.col-lg-12
                                div.parentsInfo.col-lg-9
                                    div.form-group
                                        label(for="exampleInputEmail1") Select category:
                                        select(class="form-control" id="exampleInputEmail1")
                                    div.form-group
                                        label(for="exampleInputPassword1") Select brand:
                                        select(class="form-control" id="exampleInputPassword1")
                                legend
                            div.col-lg-12
                                div.generalInfo.col-lg-6
                                    div.form-group
                                        label(for="exampleInputEmail1") Email address
                                        input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email")
                                    div.form-group
                                        label(for="exampleInputPassword1") Password
                                        input(type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
                                    div.form-group
                                        label(for="exampleInputFile") File input
                                        input(type="file" id="exampleInputFile")
                                        p.help-block Example block-level help text here.
                                    div.checkbox
                                        label
                                            input(type="checkbox")
                                            | Check me out
                                legend
                            div.form-group
                                button.btn.btn-default.pull-right(type="submit") Submit
            div.suppliersSubTab.subTab
                div.panel.panel-default
                    div.panel-heading
                        h4 Suppliers
                    div.panel-body
                        form(role="form")
                            div.col-lg-12
                                div.parentsInfo.col-lg-9
                                    div.form-group
                                        label(for="exampleInputEmail1") Select category:
                                        select(class="form-control" id="exampleInputEmail1")
                                    div.form-group
                                        label(for="exampleInputPassword1") Select brand:
                                        select(class="form-control" id="exampleInputPassword1")
                                legend
                            div.col-lg-12
                                div.generalInfo.col-lg-6
                                    div.form-group
                                        label(for="exampleInputEmail1") Email address
                                        input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email")
                                    div.form-group
                                        label(for="exampleInputPassword1") Password
                                        input(type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
                                    div.form-group
                                        label(for="exampleInputFile") File input
                                        input(type="file" id="exampleInputFile")
                                        p.help-block Example block-level help text here.
                                    div.checkbox
                                        label
                                            input(type="checkbox")
                                            | Check me out
                                legend
                            div.form-group
                                button.btn.btn-default.pull-right(type="submit") Submit
            div.ceoSubTab.subTab
                div.panel.panel-default
                    div.panel-heading
                        h4 CEO
                    div.panel-body
                        form(role="form")
                            div.col-lg-12
                                div.parentsInfo.col-lg-9
                                    div.form-group
                                        label(for="exampleInputEmail1") Select category:
                                        select(class="form-control" id="exampleInputEmail1")
                                    div.form-group
                                        label(for="exampleInputPassword1") Select brand:
                                        select(class="form-control" id="exampleInputPassword1")
                                legend
                            div.col-lg-12
                                div.generalInfo.col-lg-6
                                    div.form-group
                                        label(for="exampleInputEmail1") Email address
                                        input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email")
                                    div.form-group
                                        label(for="exampleInputPassword1") Password
                                        input(type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
                                    div.form-group
                                        label(for="exampleInputFile") File input
                                        input(type="file" id="exampleInputFile")
                                        p.help-block Example block-level help text here.
                                    div.checkbox
                                        label
                                            input(type="checkbox")
                                            | Check me out
                                legend
                            div.form-group
                                button.btn.btn-default.pull-right(type="submit") Submit







div#newProductsModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")

