div.row.newProductsContainer
    ol.breadcrumb
        li
            a(href="#") Home
        li
            a(href="#products") Products
        li.active New
    div.productForm
div#newProductsModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")

include templates/productsNewTemplates