div.row.pricesContainer
    ol.breadcrumb
        li
            a(href="#") Home
        li.active Prices
    div.col-lg-6.pricesStratagy
        div.panel.panel-default
            div.panel-heading
                h4 Price stratagy:
            div.panel-body
    div.col-lg-6.pricesChart
        div.panel.panel-default
            div.panel-heading
                h4 Prices:
            div.panel-body
    div.col-lg-12.pricesTable
div#pricesModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")

include templates/pricesTemplate