div.row.productsContainer
    ol.breadcrumb
        li
            a(href="#") Home
        li.active Products
    div.productsTable
div#productsModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")

