div.row.sliderContainer
    ol.breadcrumb
        li
            a(href="#") Home
        li.active Slider
    div.sliderTable
div.modal.fade.bs-example-modal-lg#editModal(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
