div.row.specificationsContainer
    ol.breadcrumb
        li
            a(href="#") Home
        li.active Specifications
    div.specificationsTable
div.modal.fade.bs-example-modal-lg#specificationsModal(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")

include templates/specificationsTemplates