doctype 5
html
    head
        title= title
        include includes/headerScc
    body
        div.container
            div.row
                div.col-lg-offset-4.col-lg-4.panel.panel-default#loginForm
                    div.panel-body
                        form(role="form")
                            div.form-group
                                label(for="userName") User name
                                input.form-control#userName(type="text" name="user" placeholder="Enter user name")
                            div.form-group
                                label(for="userPass") Password
                                input.form-control#userPass(type="password" name="password" placeholder="Enter password")
                            div.form-group
                                button(type="submit").btn.btn-default.pull-right Enter
    script(data-main="./javascripts/main.js" src="./javascripts/libs/js/requirejs/require.js")