script(type="text/template" id="brandsCollectionTemplate")
    div.panel.panel-default
        div.panel-heading
            | Brands list
        div.panel-body
            table.table.table-condensed.table-hover.brandsTable
                thead
                    tr.headerTable
                        th.text-center Id
                        th.col-sm-1.text-center Photo
                        th Name
                        th Description
                        th.col-md-1.text-center Url
                        th.col-md-2
                tbody.brandsContainerView
script(type="text/template" id="brandtModelTemplate")
    td.text-center <%= brand_id %>
    td.col-sm-1.text-center.productImage
        img.img-thumbnail(src="/images/temp/slider2.png")
    td.col-md-4 <%= brand_name %>
    td.col-md-2 <%= brand_description %>
    td.text-center.col-md-1
        a(href!="<%= brand_url %>")
            | path
    td.col-md-1
        button.btn.btn-default.btn-xs.pull-right edit