script(type="text/template" id="categoriesCollectionTemplate")
    div.panel.panel-default
        div.panel-heading.categoriesPanelHeader
            h4.categoriesPanelTitle Categories list.
            button.addNewCategory.btn.btn-default.btn-xs.pull-right(data-toggle="modal" data-target="#categoryModal") + add new
        div.panel-body.categoriesContainerView

script(type="text/template" id="categoriesModelTemplate")
    li.level(class!="level<%= level %>")
        a.categoryName
            i.fa.fa-caret-right
            | <%= category_name %>
        div.btn-group.pull-right.serviceBtns(data-id!="<%= category_id %>")
            a.btn.btn-default.btn-xs.addNewSubcategory(data-toggle="modal" data-target="#categoryModal") +add new
            a.btn.btn-default.btn-xs.dropdown-toggle(data-toggle="dropdown")
                i.fa.fa-gears
            ul.dropdown-menu(role="menu")
                li
                    a
                        i.fa.fa-wrench
                        |edit
                li
                    a
                        i.fa.fa-exchange
                        | replace
                li
                    a
                        i.fa.fa-warning
                        | smth else
                li.divider
                li.deleteCategory
                    a
                        i.fa.fa-times
                        | delete
        <%if(subcategories.length){%>
        <%= renderCategoriesTre() %>
        <%};%>

script(type="text/template" id="categoriesServiceBtnsTemplate")
    a.btn.btn-default.btn-xs.add.addNewSubcategory(data-toggle="modal" data-target="#categoryModal") +add new
    a.btn.btn-default.btn-xs.dropdown-toggle(data-toggle="dropdown")
        i.fa.fa-gears
    ul.dropdown-menu(role="menu")
        li
            a
                i.fa.fa-wrench
                |edit
        li
            a
                i.fa.fa-exchange
                | replace
        li
            a
                i.fa.fa-warning
                | smth else
        li.divider
        li.deleteCategory
            a
                i.fa.fa-times
                | delete

script(type="text/template" id="modalCategoryView")
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                    | &times;
                h4.modal-title#myModalLabel Add new category:
            div.modal-body
                div.alertContainer
                form.form-horizontal(role="form")
                    div.form-group
                        label.col-sm-4(for="nameInput") Input name:
                        div.col-sm-8.controls
                            input#nameInput.form-control.input-sm(type="text" name="category_name")
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="descriptionInput") Input description:
                        div.col-sm-8.controls
                            textarea#descriptionInput.form-control.input-sm(name="category_description")
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="categoryImgEdit") Select photo:
                        div.col-sm-8.controls
                            input#categoryImgEdit(type="file" name="category_image_name")
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required.
                                    |  Only JMG or PNG
                            div.progress.progressBrandUploadPhoto
                                div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100")
                    div.form-group
                        div.col-sm-2.col-sm-offset-10
                            button.btn.btn-default.btn-sm.saveCategory(type="submit") Submit

script(type="text/template" id="modalCategoryEdit")
    div.modal-dialog.modal-lg.categoryModal
        div.modal-content
            div.modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                    | &times;
                h4.modal-title#myModalLabel Add:
            div.modal-body
                form.well(role="form")
                    div.form-group
                        label(for="nameInput") Input name:
                        input#nameInput.form-control(type="text" value!="<%= category_name %>")
                    div.form-group
                        label(for="descriptionInput") Input description:
                        textarea#descriptionInput.form-control(value!="<%= category_description %>") <%= category_description %>
                    div
                        label Category image:
                        img#categoryImage(src!="/images/temp/<%= category_image_name %>" alt!="<%= category_name %>" style="max-height: 100px; display: block")
                    div.form-group
                        label(for="categoryImgEdit") Input file
                        input#categoryImgEdit(type="file" name="categoryImg" required)
                        p.help-block
                            | IMG or PNG recomended
            div.modal-footer
                button.saveEditCategory(type="button" class="btn btn-success btn-xs") Save
                button(type="button" class="closeModal btn btn-default btn-xs" data-dismiss="modal") Close