script(type="text/template" id="categoriesCollectionTemplate")
    div.categoriesTitle
        h3 Categories list.
        button.addNewCategory.btn.btn-default.btn-xs.pull-right(data-toggle="modal" data-target="#categoryModal") + add new
    div.col-lg-12
        div.panel-group#accordionCategories.categoriesContainerView
    button.addNewCategory.btn.btn-default.btn-xs.pull-right(data-toggle="modal" data-target="#categoryModal") + add new

script(type="text/template" id="categoriesModelTemplate")
    div.panel.panel-default
        div.panel-heading.categoryList
            h4.panel-title
                a.categoryImage
                    img.img-responsive(data-toggle="collapse" data-parent="#accordionCategories" href!="#<%= category_id %>" src!="/images/temp/<%= category_image_name %>" alt!="<%= category_name %>")
                a(data-toggle="collapse" data-parent="#accordionCategories" href!="#<%= category_id %>")
                    <%= category_name %>
                button.btn.btn-default.btn-xs.pull-right.deleteCategory(data-category-id!="<%= category_id %>") delete
                button.btn.btn-default.btn-xs.pull-right.editCategory(data-category-id!="<%= category_id %>" data-toggle='modal' data-target='#categoryModal') edit
                button.btn.btn-default.btn-xs.pull-right.addNewSubcategory(data-category-id!="<%= category_id %>" data-toggle='modal' data-target='#categoryModal') +add
        div.panel-collapse.collapse.subcategoriesListContainer(id!="<%= category_id %>")
            div.panel-body(id!="<%= category_name %>")
                ul.subcategoriesList
                    <% _.each(subcategories, function(subcategory){%>
                    li.subcategoryPoint
                        a.subcategory(data-subcategory-id!="#<%= subcategory.subcategory_id %>") <%= subcategory.subcategory_name %>
                    <%}); %>
