script(type="text/template" id="categoriesCollectionTemplate")
    div.panel.panel-default
        div.panel-heading.categoriesPanelHeader
            h4.categoriesPanelTitle Categories list.
            button.addNewCategory.btn.btn-default.btn-xs.pull-right(data-toggle="modal" data-target="#categoryModal") + add new
        div.panel-body.categoriesContainerView

script(type="text/template" id="categoriesModelTemplate")
    table.table.table-condensed.table-hover
                thead
                    tr.level(class!="level<%= level %>")
                        //- th.categorySortableBtn
                        th.categoryName
                            a
                                i.fa.fa-plus-square-o
                                | <%= category_name %>
                        th.categoryBtns.col-md-2
                            i.fa.fa-cogs.fa-lg.pull-right
                tbody
                    <%= renderCategoriesTre() %>    
