script(type="text/template" id="pricesCollectionTemplate")
    div.panel-heading
        strong Prices list
            a.btn.btn-default.btn-xs.pull-right.addNewPrice(data-toggle="modal" data-target="#pricesModal") +add new
    div.panel-body
        table.table.table-condensed.table-hover
            thead
                tr.text-muted
                    th.text-center Name
                    th.text-center Description
                    th.text-center Calculation method
                    th.text-center Profit percent
                    th.text-center Value example
                    th.text-center Include taxes
                    th.text-center Default
                    th.col-sm-1
            tbody.priceModelsContainer


script(type="text/template" id="pricesModelTemplate")
    td.text-center <%= price_name %>
    td.text-center <%= price_description %>
    td.text-center <%= price_calculation_method %>
    td.text-center
        <%if(price_calculation_percent) {%>
        <%= price_calculation_percent %> %
        <%} else {%>
        | -
        <%};%>
    td.text-center <%= price_value %>
    td.text-center
        <%if(price_include_tax){%>
        div.switchYesNo.text-center
            input.switchInput.switchInputRound.btn-toggle.includeTaxes(name="price_include_tax" type="checkbox" checked id!="tax<%= price_id %>")
            label(for!="tax<%= price_id %>")
        <%}else{%>
        div.switchYesNo.text-center
            input.switchInput.switchInputRound.btn-toggle.includeTaxes(name="price_include_tax" type="checkbox" id!="tax<%= price_id %>")
            label(for!="tax<%= price_id %>")
        <%};%>
    td.text-center
        <%if(price_default){%>
        div.switchYesNo.text-center
            input.switchInput.switchInputRound.btn-toggle.priceDefault(name="price_default" type="checkbox" checked id!="default<%= price_id %>")
            label(for!="default<%= price_id %>")
        <%}else{%>
        div.switchYesNo.text-center
            input.switchInput.switchInputRound.btn-toggle.priceDefault(name="price_default" type="checkbox" id!="default<%= price_id %>")
            label(for!="default<%= price_id %>")
        <%};%>
    td.col-sm-1
        div.pull-right
            a.btn.btn-default.btn-sm.dropdown-toggle.pull-right(title="edit" data-toggle="dropdown")
                i.fa.fa-gears.fa-lg
            ul.dropdown-menu.serviceBtns(role="menu")
                li.editModalPrice(data-toggle="modal" data-target="#pricesModal")
                    a
                        i.fa.fa-wrench
                        |edit
                <%if(!price_base) {%>
                <%if(!price_default) {%>
                li.copyPrice
                    a
                        i.fa.fa-copy
                        | copy
                li.divider
                li.deletePrice
                    a
                        i.fa.fa-times
                        | delete
                <%};%>
                <%};%>


script(type="text/template" id="pricesModalTemplate")
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                    | &times;
                h4.modal-title#myModalLabel Add new price
            div.modal-body
                div.alertContainer
                form.form-horizontal(role="form")
                    div.form-group
                        label.col-sm-4(for="priceName") Price name:
                        div.col-sm-8.controls
                            input#priceName.form-control.input-sm(type="text" name="price_name" required)
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="priceDescription") Description:
                        div.col-sm-8.controls
                            textarea#priceDescription.form-control.input-sm(name="price_description")
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="calculationMethod") Calculation methods:
                        div.col-sm-8.controls
                            select#calculationMethod.form-control.input-sm(name="price_calculation_method")
                                option.manually manually
                                option.automaticly automatically
                    div.form-group
                        label.col-sm-4(for="percentPrice")
                        div.col-sm-8.controls
                            input#percentPrice.form-control.input-sm(type="text" name="price_calculation_percent" required disabled)
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="includeTaxes") Include taxes:
                        div.col-sm-8.controls
                            div.switchYesNo.text-center
                                input.switchInput.switchInputRound.btn-toggle(type="checkbox" checked id="taxes")
                                label(for="taxes")
                    div.form-group
                        label.col-sm-4(for="countriesPrice") Country:
                        div.col-sm-8.controls
                            select#countriesPrice.form-control.input-sm(name="price_country")
                                option all
                    div.form-group
                        div.col-sm-2.col-sm-offset-10
                            button.btn.btn-default.btn-sm.saveNewPrice(type="submit") Submit


script(type="text/template" id="pricesEditModalTemplate")
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                    | &times;
                strong.modal-title#myModalLabel Edit price
            div.modal-body
                div.alertContainer
                form.form-horizontal(role="form")
                    div.form-group
                        label.col-sm-4(for="priceName") Price name:
                        div.col-sm-8.controls
                            input#priceName.form-control.input-sm(type="text" name="price_name" value!="<%= price_name %>" required)
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="priceDescription") Description:
                        div.col-sm-8.controls
                            textarea#priceDescription.form-control.input-sm(name="price_description") <%= price_description %>
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="calculationMethod") Calculation methods:
                        div.col-sm-8.controls
                            select#calculationMethod.form-control.input-sm(name="price_calculation_method")
                                <%if(price_calculation_method == "manually") {%>
                                option.manually(selected) manually
                                option.automaticly automatically
                                <%} else {%>
                                option.manually manually
                                option.automaticly(selected) automatically
                                <%};%>
                    div.form-group
                        label.col-sm-4(for="percentPrice")
                        div.col-sm-8.controls
                            <%if(price_calculation_method == "manually") {%>
                            input#percentPrice.form-control.input-sm(type="text" name="price_calculation_percent" required disabled)
                            <%} else {%>
                            input#percentPrice.form-control.input-sm(type="text" name="price_calculation_percent" value!="<%= price_calculation_percent %>" required)
                            <%};%>
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="includeTaxes") Include taxes:
                        div.col-sm-8.controls
                            <%if(price_include_tax) {%>
                            div.switchYesNo.text-center
                                input.switchInput.switchInputRound.btn-toggle(type="checkbox" checked id="taxes")
                                label(for="taxes")
                            <%}else{%>
                            div.switchYesNo.text-center
                                input.switchInput.switchInputRound.btn-toggle(type="checkbox" id="taxes")
                                label(for="taxes")
                            <%};%>
                    div.form-group
                        label.col-sm-4(for="countriesPrice") Country:
                        div.col-sm-8.controls
                            select#countriesPrice.form-control.input-sm(name="price_country")
                                option all
                    div.form-group
                        div.col-sm-2.col-sm-offset-10
                            button.btn.btn-default.btn-sm.saveEditPrice(type="submit") Submit

script(type="text/template" id="pricesChartTemplate")
    div.panel.panel-default
            div.panel-heading
                strong Prices difference
            div.panel-body
                canvas#pricesChartContainer.col-lg-12(style="padding: 0px")


//mixins
mixin optionsYesCoins()
    <%switch(price_rules_round_to) { case 0.5:%>
    option(data-value="-1") don't round
    option(data-value="0.5" selected) round (0.1 - 0.4) to 0.5, (0.6 - 0.9) to 1
    option(data-value="1") round (0.1 - 0.9) to 1
    option(data-value="0") round (0.1 - 0.9) to 0
    <%break; case 0:%>
    option(data-value="-1") don't round
    option(data-value="0.5") round (0.1 - 0.4) to 0.5, (0.6 - 0.9) to 1
    option(data-value="1") round (0.1 - 0.9) to 1
    option(data-value="0" selected) round (0.1 - 0.9) to 0
    <%break; case 1:%>
    option(data-value="-1") don't round
    option(data-value="0.5") round (0.1 - 0.4) to 0.5, (0.6 - 0.9) to 1
    option(data-value="1" selected) round (0.1 - 0.9) to 1
    option(data-value="0") round (0.1 - 0.9) to 0
    <%break; case -1:%>
    option(data-value="-1" selected) don't round
    option(data-value="0.5") round (0.1 - 0.4) to 0.5, (0.6 - 0.9) to 1
    option(data-value="1") round (0.1 - 0.9) to 1
    option(data-value="0") round (0.1 - 0.9) to 0
    <%break; default:%>
    option(data-value="-1") don't round
    option(data-value="0.5") round (0.1 - 0.4) to 0.5, (0.6 - 0.9) to 1
    option(data-value="1") round (0.1 - 0.9) to 1
    option(data-value="0") round (0.1 - 0.9) to 0
    <%break; };%>
mixin optionsNoCoins()
    <%switch(price_rules_round_to) { case 0:%>
    option(data-value="0" selected) rount to 0
    option(data-value="1") rount to 1
    <%break; case 1:%>
    option(data-value="0") rount to 0
    option(data-value="1" selected) rount to 1
    <%break; default:%>
    option(data-value="0") rount to 0
    option(data-value="1") rount to 1
    <%break; };%>

script(type="text/template" id="pricesRulesTemplate")
    div.panel-heading
        strong Price rules
    div.panel-body
        form.form-horizontal(role="form")
            div.form-group(data-toggle="tooltip" title="Base price is the main. All automatically prices calculated due to base it" data-placement="top" data-container="body").tooltipHas
                label.control-label.col-sm-3
                    | Counting (base) price:
                div.input-group.col-sm-8
                    p.form-control-static
                        | <%= price_rules_base_name %>
                        <% if(price_rules_base_tax){ %>
                        small (with taxes)
                        <% }else{ %>
                        small (without taxes)
                        <% }; %>
            div.form-group(data-toggle="tooltip" title="This price used for unsighned or unauthorized users" data-placement="top" data-container="body").tooltipHas
                label.control-label.col-sm-3
                    | Default price:
                div.input-group.col-sm-8
                    p.form-control-static
                        | <%= price_rules_default_name %>
                        | -
                        | <%= price_rules_default_value %> % profit
                        <% if(price_rules_default_tax){ %>
                        small (with taxes)
                        <% }else{ %>
                        small (without taxes)
                        <% }; %>
            div.form-group(data-toggle="tooltip" title="Set price without coins. Price wil be rounded due to rules" data-placement="top" data-container="body").tooltipHas
                label.control-label.col-sm-3
                    | Without coins:
                div.input-group.col-sm-8
                    <% if( price_rules_integer ){ %>
                    span.input-group-addon
                        input.radioRules(type="radio" name="rules" data-targer-input="noCoinsRound" checked)
                    select.form-control.noCoinsRound.coinsRound(data-integer="true")
                        +optionsNoCoins()
                    <% }else{ %>
                    span.input-group-addon
                        input.radioRules(type="radio" name="rules" data-targer-input="noCoinsRound")
                    select.form-control.noCoinsRound.coinsRound(data-integer="true" disabled)
                        +optionsNoCoins()
                    <%};%>
            div.form-group(data-toggle="tooltip" title="Set price with coins. Price wil be rounded due to rules" data-placement="top" data-container="body").tooltipHas
                label.control-label.col-sm-3
                    | With coins:
                div.input-group.col-sm-8
                    <%if(price_rules_integer){%>
                    span.input-group-addon
                        input.radioRules(type="radio" name="rules" data-targer-input="yesCoinsRound")
                    select.form-control.yesCoinsRound.coinsRound(data-integer="false" disabled)
                        +optionsYesCoins()
                    <%}else{%>
                    span.input-group-addon
                        input.radioRules(type="radio" name="rules" data-targer-input="yesCoinsRound" checked)
                    select.form-control.yesCoinsRound.coinsRound(data-integer="false")
                        +optionsYesCoins()
                    <%};%>
            div.pull-right
                button.btn.btn-link.disabled.savePricesRules(type="submit") save
