script(type="text/template" id="productsCollectionTemplate")
    div.panel.panel-default
        div.panel-heading
            | Products list:
        div.panel-body
            table.table.table-condensed.table-striped
                tbody.productsContainerView

script(type="text/template" id="productModelTemplate")
    td(colspan="5") 
        table.table.table-condensed.table-hover
            caption 
                a
                    h4 
                        span.glyphicon.glyphicon-chevron-right
                        | Category mane:
                a
                    h5 
                        span.glyphicon.glyphicon-chevron-right
                        | Subcategory name:
            thead
                tr
                    th 1
                    th 2
                    th 3
                    th 4
                    th 4
            tbody
                tr 
                    td Product 1
                    td 2
                    td 3
                    td 4
                    td 4 