script(type="text/template" id="productsCollectionTemplate")
	div.categoriesTitle
		h3 Categories list.
		button.btn.btn-default.btn-xs.pull-right + add new
	div.col-lg-12
		div.panel-group#accordionCategories.productsContainerView
			
script(type="text/template" id="productModelTemplate")
	div.panel.panel-default
		div.panel-heading
			h4.panel-title
				a(data-toggle="collapse" data-parent="#accordionCategories" href!="#<%= id %>")
					<%= name %>
				button.btn.btn-default.btn-xs.pull-right.deleteCategory(data-category-id!="<%= id %>") delete
				button.btn.btn-default.btn-xs.pull-right.editCategory(data-category-id!="<%= id %>") edit
				button.btn.btn-default.btn-xs.pull-right.addNewSubategory(data-category-id!="<%= id %>" data-toggle='modal' data-target='.bs-example-modal-lg') +add
		div.panel-collapse.collapse(id!="<%= id %>")
			div.panel-body(id!="<%= name %>")
					<%= viewSubcategories() %>