script(type="text/template" id="productsCollectionTemplate")
    table.table.table-condensed
        caption Products list:
        thead
            tr
                th categories
                th subcategories
                th products
        tbody.productsContainerView

script(type="text/template" id="productModelTemplate")
    td 
    td
    td 
        table.table.table-condensed
            thead
            tbody
                tr
