script(type="text/template" id="productNewModelTemplate")
    div.parentsInfo.col-lg-2
        <%if(editableModel) {%>
        div.list-group(data-id!="<%= editableModel.product_id %>")
            a(data-target-container="infoSubTab").list-group-item.newProductNav.active Information
            a(data-target-container="specificationSubTab").list-group-item.newProductNav.specificationSubTab Spacification
            a(data-target-container="pricesSubTab").list-group-item.newProductNav Prices
            a(data-target-container="photosSubTab").list-group-item.newProductNav Photos
            a(data-target-container="discountsSubTab").list-group-item.newProductNav Discounts
            a(data-target-container="stockSubTab").list-group-item.newProductNav Stock
            a(data-target-container="suppliersSubTab").list-group-item.newProductNav Suppliers
            a(data-target-container="ceoSubTab").list-group-item.newProductNav CEO
        <%}else{%>
        div.list-group
            a(data-target-container="infoSubTab").list-group-item.newProductNav.active Information
            a(data-target-container="specificationSubTab").list-group-item.newProductNav.specificationSubTab Spacification
            a(data-target-container="pricesSubTab").list-group-item.newProductNav Prices
            a(data-target-container="photosSubTab").list-group-item.newProductNav Photos
            a(data-target-container="discountsSubTab").list-group-item.newProductNav Discounts
            a(data-target-container="stockSubTab").list-group-item.newProductNav Stock
            a(data-target-container="suppliersSubTab").list-group-item.newProductNav Suppliers
            a(data-target-container="ceoSubTab").list-group-item.newProductNav CEO
        <%};%>

    div.col-lg-10
        div.infoSubTab.subTab
            div.panel.panel-default
                div.panel-heading
                    h5
                        strong Information
                div.panel-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.control-label.col-lg-2(for="startDateProduct")
                                a Start date:
                            div.col-lg-3
                                div.input-group.input-group-sm
                                    <% if(editableModel) { %>
                                    input.form-control.hasDatePicker#startDateProduct(tepe="text" value!="<%= editableModel.product_start_date_readable %>")
                                    <% }else{ %>
                                    input.form-control.hasDatePicker#startDateProduct(tepe="text")
                                    <% }; %>
                                    label.input-group-addon(for="startDateProduct")
                                        i.fa.fa-calendar.fa-lg
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                        div.form-group
                            label.control-label.col-lg-2(for="endDateProduct")
                                a End date:
                            div.col-lg-3
                                div.input-group.input-group-sm
                                    <% if(editableModel && editableModel.product_end_date_readable) { %>
                                    input.form-control.hasDatePicker#endDateProduct(tepe="text" value!="<%= editableModel.product_end_date_readable %>")
                                    <% }else{ %>
                                    input.form-control.hasDatePicker#endDateProduct(tepe="text")
                                    <% }; %>
                                    label.input-group-addon(for="endDateProduct")
                                        i.fa.fa-calendar.fa-lg
                        legend
                        div.form-group
                            label.control-label.col-lg-2(for="categoryProduct")
                                a Category:
                            div.col-lg-3
                                select#categoryProduct.form-control.input-sm(type="text" name="product_parent_id")
                                    <%_.each(categories, function(category){%>
                                    <%if(editableModel && category.category_id == editableModel.product_parent_id){%>
                                    option(data-id!="<%= category.category_id %>" selected) <%= category.path %>
                                    <%}else{%>
                                    option(data-id!="<%= category.category_id %>") <%= category.path %>
                                    <%};%>
                                    <%});%>
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                        div.form-group
                            label.control-label.col-lg-2(for="brandProduct")
                                a Brand:
                            div.col-lg-3
                                select#brandProduct.form-control.input-sm(type="text" name="product_brand_id")
                                    <%_.each(brands, function(brand){%>
                                    <%if(editableModel && brand.brand_id == editableModel.product_brand_id){%>
                                    option(data-id!="<%= brand.brand_id %>" selected) <%= brand.brand_name %>
                                    <%}else{%>
                                    option(data-id!="<%= brand.brand_id %>") <%= brand.brand_name %>
                                    <%};%>
                                    <%});%>
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                        legend
                        div.form-group
                            label.control-label.col-lg-2(for="shortNameProduct")
                                a Short name:
                            div.col-lg-9
                                <% if(editableModel){ %>
                                input#shortNameProduct.form-control.input-sm(type="text" name="product_short_name" value!="<%= editableModel.product_short_name %>")
                                <% }else{ %>
                                input#shortNameProduct.form-control.input-sm(type="text" name="product_short_name")
                                <% }; %>
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                        legend
                        div.form-group
                            label.control-label.col-lg-2(for="fullNameProduct")
                                a Full name:
                            div.col-lg-9
                                <% if(editableModel){ %>
                                input#fullNameProduct.form-control.input-sm(type="text" name="product_full_name" value!="<%= editableModel.product_full_name %>")
                                <% }else{ %>
                                input#fullNameProduct.form-control.input-sm(type="text" name="product_full_name")
                                <% }; %>
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                        legend
                        div.form-group
                            label.control-label.col-lg-2(for="shortSprsificationProduct")
                                a Short description:
                            div.col-lg-9
                                <% if(editableModel){ %>
                                textarea#shortSprsificationProduct.form-control.input-sm(name="product_short_description") <%= editableModel.product_short_description %>
                                <% }else{ %>
                                textarea#shortSprsificationProduct.form-control.input-sm(name="product_short_description")
                                <% }; %>
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                        div.form-group
                            label.control-label.col-lg-2(for="fullSprsificationProduct")
                                a Full description:
                            div.col-lg-9
                                <% if(editableModel){ %>
                                textarea#fullSprsificationProduct.form-control.input-sm(name="product_full_description") <%= editableModel.product_full_description %>
                                <% }else{ %>
                                textarea#fullSprsificationProduct.form-control.input-sm(name="product_full_description")
                                <% }; %>
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                        legend
                        div.form-group
                            label.control-label.col-lg-2(for="europeBarcodeProduct")
                                a Barcode EAN-13(JAN):
                            div.col-lg-9
                                <% if(editableModel && editableModel.product_barcode_ean13){ %>
                                input#europeBarcodeProduct.form-control.input-sm(name="product_barcode_ean13" value!="<%= editableModel.product_barcode_ean13 %>")
                                <% }else{ %>
                                input#europeBarcodeProduct.form-control.input-sm(name="product_barcode_ean13")
                                <% }; %>
                        div.form-group
                            label.control-label.col-lg-2(for="usaBarcodeProduct")
                                a Barcode UPC:
                            div.col-lg-9
                                <% if(editableModel && editableModel.product_barcode_upc){ %>
                                input#usaBarcodeProduct.form-control.input-sm(name="product_barcode_upc" value!="<%= editableModel.product_barcode_upc %>")
                                <% }else{ %>
                                input#usaBarcodeProduct.form-control.input-sm(name="product_barcode_upc")
                                <% }; %>
                div.panel-footer
                    div.text-right
                        <% if(editableModel){ %>
                        button.btn.btn-default.saveProductInfo(type="submit" data-id!="<%= editableModel.product_id %>") save
                        <%}else{%>
                        button.btn.btn-default.saveNewProductInfo(type="submit") save
                        <%};%>
        div.specificationSubTab.savingAlert.hide
            div.panel.panel-default
                div.panel-heading
                    strong Specification
                div.panel-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.control-label.col-lg-4(for="specificationSelect")
                                | Select specification class:
                            div.col-lg-5
                                select.form-control.input-sm#specificationSelect(type="text")
                                    option
                                    <% _.each(specifications, function(specification) { %>
                                    option(data-id!="<%= specification.specification_id %>") <%= specification.specification_name %>
                                    <%});%>
                        legend
                    form.form-horizontal.productSpecificationsContainer(role="form")
                div.panel-footer
                    div.text-right
                        button.btn.btn-default.saveSpecifications(type="submit" data-id!="<%= editableModel.product_id %>") save
        div.pricesSubTab.savingAlert.hide
            div.panel.panel-default
                div.panel-heading
                    strong Prices
                div.panel-body
                    form(role="form")

        div.photosSubTab.savingAlert.hide
            div.panel.panel-default
                div.panel-heading
                    strong.photosSubTabHeader Photos
                        div.pull-right.photosSubTabServiceBtns
                            a.btn.btn-default.btn-xs.dropdown-toggle(title="edit" data-toggle="dropdown")
                                i.fa.fa-gears
                            ul.dropdown-menu(role="menu")
                                li
                                    a
                                        i.fa.fa-times
                                        | delete

                div.panel-body
                    div.col-lg-12
                        div.col-lg-6
                            a.thumbnail
                                img(src="images/temp/slider4.png")
                        div.col-lg-6.smallPhotos
                            div.col-lg-3
                                a.thumbnail
                                    div.checkboxFour
                                        input(type="checkbox" value="1" id="checkboxFourInput" name="")
                                        label(for="checkboxFourInput")
                                    img(src="images/temp/slider4.png")
                            div.col-lg-3
                                a.thumbnail
                                    div.checkboxFour
                                        input(type="checkbox" value="1" id="checkboxFourInput1" name="")
                                        label(for="checkboxFourInput1")
                                    img(src="images/temp/slider4.png")
                            div.col-lg-3
                                a.thumbnail
                                    div.checkboxFour
                                        input(type="checkbox" value="1" id="checkboxFourInput2" name="")
                                        label(for="checkboxFourInput2")
                                    img(src="images/temp/slider4.png")
                            div.col-lg-3
                                a.thumbnail
                                    div.checkboxFour
                                        input(type="checkbox" value="1" id="checkboxFourInput3" name="")
                                        label(for="checkboxFourInput3")
                                    img(src="images/temp/slider4.png")
                            div.col-lg-3
                                a.thumbnail
                                    div.checkboxFour
                                        input(type="checkbox" value="1" id="checkboxFourInput4" name="")
                                        label(for="checkboxFourInput4")
                                    img(src="images/temp/slider4.png")
                            div.col-lg-3
                                a.thumbnail
                                    div.checkboxFour
                                        input(type="checkbox" value="1" id="checkboxFourInput5" name="")
                                        label(for="checkboxFourInput5")
                                    img(src="images/temp/slider4.png")
                            div.col-lg-3
                                a.thumbnail
                                    div.checkboxFour
                                        input(type="checkbox" value="1" id="checkboxFourInput5" name="")
                                        label(for="checkboxFourInput5")
                                    img(src="images/temp/slider4.png")
                            div.col-lg-3
                                a.thumbnail
                                    div.checkboxFour
                                        input(type="checkbox" value="1" id="checkboxFourInput6" name="")
                                        label(for="checkboxFourInput6")
                                    img(src="images/temp/slider4.png")
                    form.col-lg-12.form-horizontal(role="form")
                        div.form-group
                            label.control-label.col-lg-2(for="productNewPhoto")
                                a Select file:
                            div.col-lg-4
                                input#productNewPhoto.input-sm(type="file")
                                div.progress.uploadPhoto
                                    div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100")


        div.discountsSubTab.savingAlert.hide
            div.panel.panel-default
                div.panel-heading
                    strong Discounts
                div.panel-body
                    form(role="form")
        div.stockSubTab.savingAlert.hide
            div.panel.panel-default
                div.panel-heading
                    strong Stock
                div.panel-body
                    form(role="form")
        div.suppliersSubTab.savingAlert.hide
            div.panel.panel-default
                div.panel-heading
                    strong Suppliers
                div.panel-body
                    form(role="form")
        div.ceoSubTab.savingAlert.hide
            div.panel.panel-default
                div.panel-heading
                    strong CEO
                div.panel-body
                    form(role="form")