script(type="text/template" id="productsCollectionTemplate")
    div.panel.panel-default
        div.panel-heading
            | Products list
        div.panel-body
            table.table.table-condensed.table-hover.productsTable
                thead
                    tr.headerTable
                        th.col-md-1 №
                        th.col-md-1 Photo
                        th Short name
                        th Category
                        th.col-md-1 Price
                        th.col-md-1 Quantity
                        th.col-md-1 Display
                        th.col-md-2
                    tr.headerFilter
                        th.text-center --
                        th.text-center --
                        th 
                            input.form-control(type="text")
                        th 
                            select.form-control
                                option cat
                                option cat
                                option cat
                        th 
                            input.form-control(type="text") 
                        th.text-center --
                        th 
                            input.form-control(type="text")
                        th 
                            button.btn.btn-default.btn-xs.pull-right filter
                tbody.productsContainerView#sortable

script(type="text/template" id="productModelTemplate")
    td.text-center.col-md-1
        | <%= product_position_in_list %>
        a.sortableSelector.pull-right
    td.col-md-1
        img.col-md-offset-2.col-md-8.img-thumbnail(src="/images/temp/slider2.png")
    td.col-md-4 <%= product_shortname %>
    td.col-md-2 <%= product_parent_id %>
    td.text-center.col-md-1 <%= product_price.sale %>
    td.text-center.col-md-1 <%= product_quantitystock %>
    td.text-center.col-md-1 <%= product_display %>
    td.col-md-1
        button.btn.btn-default.btn-xs.pull-right edit