script(type="text/template" id="productsCollectionTemplate")
    div.productsContainerView

script(type="text/template" id="productModelTemplate")
    ul#sortable
        li.ui-state-default Item 1
        li.ui-state-default Item 2
        li.ui-state-default Item 3
        li.ui-state-default Item 4
        li.ui-state-default Item 5
        li.ui-state-default Item 6
        li.ui-state-default Item 7