script(type="text/template" id="productsCollectionTemplate")
    details
        summary
            | Products:
        div.productsContainerView

script(type="text/template" id="productModelTemplate")
    ul
        li