script(type="text/template" id="productsCollectionTemplate")
    div.panel.panel-default
        div.panel-heading
            h4 Products list
                a.addNewProduct.btn.btn-default.btn-xs.pull-right(href="#new_product/infoSubTab") + add new
        div.panel-body
            table.table.table-condensed.table-hover.productsTable
                thead
                    tr.headerTable
                        th.text-center №
                        th
                        th.col-md-1.text-center Photo
                        th Short name
                        th Category
                        th.col-md-1.text-center Price
                        th.col-md-1.text-center Quantity
                        th.col-md-1.text-center Display
                        th.col-md-2
                    tr.headerFilter
                        th.text-center --
                        th
                        th.text-center --
                        th 
                            input.form-control(type="text")
                        th 
                            select.form-control
                                option cat
                                option cat
                                option cat
                        th 
                            input.form-control(type="text") 
                        th.text-center --
                        th.text-center 
                            div.switch.text-center
                                input.switchInput.switchInputRound(type="checkbox" checked id="displayAll")
                                label(for="displayAll")
                        th 
                            button.btn.btn-default.btn-xs.pull-right filter
                tbody.productsContainerView#sortable

script(type="text/template" id="productModelTemplate")
    td.text-center
        | <%= product_position_in_list %>
    td
        a.sortableSelector.pull-right
    td.col-md-1.text-center.productImage
        img.img-thumbnail(src="/images/temp/slider2.png")
    td.col-md-4 <%= product_shortname %>
    td.col-md-2 
        a
            | <%= path %>
    td.text-center.col-md-1 <%= product_price.sale %>
    td.text-center.col-md-1
        <%if(product_quantitystock == "0"){%>
        span.badge  <%= product_quantitystock %>
        <%}else if(product_quantitystock > 0 && product_quantitystock <= 2){%>
        span.badge.alert-danger  <%= product_quantitystock %>
        <%}else if(product_quantitystock > 3 && product_quantitystock < 10){%>
        span.badge.alert-warning  <%= product_quantitystock %>
        <%}else if(product_quantitystock >= 10){%>
        span.badge.alert-success  <%= product_quantitystock %>
        <%};%>
    td.text-center.col-md-1
        <% if(product_display) {%>
        div.switch.text-center
            input.switchInput.switchInputRound(type="checkbox" checked id!="<%= product_id %>")
            label(for!="<%= product_id %>")
        <%}else{%>
        div.switch.text-center
            input.switchInput.switchInputRound(type="checkbox" id!="<%= product_id %>")
            label(for!="<%= product_id %>")
        <%};%>
    td.col-md-1
        div.btn-group.pull-right
            a.btn.btn-default.btn-xs(data-toggle="modal" data-target="#categoryModal") edit
            a.btn.btn-default.btn-xs.dropdown-toggle(data-toggle="dropdown")
                i.fa.fa-gears
            ul.dropdown-menu(role="menu")
                li
                    a
                        i.fa.fa-calculator
                        | discounts
                li
                    a
                        i.fa.fa-dropbox
                        | replace
                li
                    a
                        i.fa.fa-bar-chart
                        | statistic
                li.divider
                li.deleteCategory
                    a
                        i.fa.fa-times
                        | delete


script(type="text/template" id="modalProductNew")
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                    | &times;
                h4.modal-title#myModalLabel Add new category:
            div.modal-body
                div.alertContainer
                form.form-horizontal(role="form")
                    div.form-group
                        label.col-sm-4(for="nameInput") Input name:
                        div.col-sm-8.controls
                            input#nameInput.form-control.input-sm(type="text" name="category_name")
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="descriptionInput") Input description:
                        div.col-sm-8.controls
                            textarea#descriptionInput.form-control.input-sm(name="category_description")
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required
                    div.form-group
                        label.col-sm-4(for="categoryImgEdit") Select photo:
                        div.col-sm-8.controls
                            input#categoryImgEdit(type="file" name="category_image_name")
                            p.help-block.text-muted
                                small
                                    i.fa.fa-asterisk
                                    |  required.
                                    |  Only JMG or PNG
                            div.progress.progressBrandUploadPhoto
                                div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100")
                    div.form-group
                        div.col-sm-2.col-sm-offset-10
                            button.btn.btn-default.btn-sm.saveProduct(type="submit") Submit