script(type="text/template" id="templateSliderCompositeView")
    div.panel.panel-default
        div.panel-heading
            h4 Sliders list.
                button.btn.btn-default.btn-xs.pull-right.addSliderBtn(data-toggle="modal" data-target="#editModal") +add new
        div.panel-body
            div.col-lg-12#sliderLists
                table.table.table-striped.table-condensed
                    thead
                        tr
                            th.col-sm-1 
                                a(data-toggle="tooltip" title="Posotion of this slider in sleders list." data-placement="top" data-container="body").tooltipHas number
                            th 
                                a(data-toggle="tooltip" title="Name of slider. You will see it under slide ib bold font." data-placement="top" data-container="body").tooltipHas name
                            th 
                                a(data-toggle="tooltip" title="Description of slide, show below slides name." data-placement="top" data-container="body").tooltipHas description
                            th 
                                a(data-toggle="tooltip" title="Link on a page which used by button on slide. If cell is empty, button don't displayed." data-placement="top" data-container="body").tooltipHas url link
                            th 
                                a(data-toggle="tooltip" title="Photo of slide." data-placement="top" data-container="body").tooltipHas photo
                            th.th-container.col-sm-1  
                                a(data-toggle="tooltip" title="Select display slider on client side or not." data-placement="top" data-container="body").tooltipHas display
                            th.col-sm-1
                    tbody#sortableSlider

script(type="text/template" id="templateSliderItemView")
    td.text-center.col-sm-1 <%= slider_position_in_list %>
        div.numberEdit.pull-right
            img()
    td.text-center <%= slider_name %>
    td.text-center <%= slider_description %>
    td.text-center <%= slider_url %>
    td.text-center
        a.sliderPhoto(data-toggle="modal" data-target="#editModal") open photo
    td.switcher.text-center.col-sm-1
        <%if(slider_display){%>
        div.switch.text-center
            input.switchInput.switchInputRound.btn-toggle(type="checkbox" checked id!="<%= slider_id %>")
            label(for!="<%= slider_id %>")
        <%}else{%>
        div.switch.text-center
            input.switchInput.switchInputRound.btn-toggle(type="checkbox" id!="<%= slider_id %>")
            label(for!="<%= slider_id %>")
        <%};%>
    td.col-sm-1
        a.btn.btn-default.dropdown-toggle.pull-right(title="edit" data-toggle="dropdown")
            i.fa.fa-gears
        ul.dropdown-menu(role="menu")
            li.editSliderBtn(data-toggle="modal" data-target="#editModal")
                a
                    i.fa.fa-wrench
                    |edit
            li.deleteSliderBtn
                a
                    i.fa.fa-times
                    | delete