script(type="text/template" id="specificationsModelView")
    div Hi
script(type="text/template" id="specificationsCollectionView")
    div.panel-heading
        h4 Specifications
    div.panel-body.specificationsItemsContainer