script(type="text/template" id="subcategoriesModelTemplate")
	a(class="subcategoriesLink" data-toggle="modal" data-target=".bs-example-modal-lg" data-submodel-id="<%= id %>")
		<%= name %>

script(type="text/template" id="subcategoriesCollectionTemplate")
	div
