script(type="text/template" id="warningTemplate")
    div.alert.alert-warning.alert-dismissible(role="alert")
        button(type="button" class="close" data-dismiss="alert")
            span(aria-hidden="true") &times;
            span.sr-only Close
        strong Warning!
            | <%= appendMessage() %>.
